{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "style.css" %}">
{% endblock head %}

{% block content %}
<!--index.html-->

<div class="list-wrapper">
    <ul class="list">
        {% for todo in object_list %}
        <li class="list__item {% if todo.completed%}completed{%endif%}">
            <div class="list__item-inner">
                <div
                    role="button"
                    onclick="location.href='{% url "item" todo.id %}'"
                   >{{ todo.title }}
                </div>
                <div class="list__item-bottom">
                    <div class="list__item-complete-btn">
                        {% if todo.completed == False %}
                        <a
                            class="btn" 
                            href="{% url "item-completed" todo.pk %}">
                            Complete
                        </a>
                        {%else%} 
                        <span>Completed </span>
                        {%endif%}
                    </div>    
                    
                    {% if todo.user %}
                    <span> {{todo.user.username}}</span>
                    {%endif%}
                </div>
                

            </div>
            <!-- <div  class="list__item-controls">
                <a href="#"><i class="bi bi-trash"></i> </a>
                <a href="#"><i class="bi bi-pencil-square"></i></a>
            </div> -->
        </li>
        {% empty %}
        <p>There are no to-do items in your list.</p>
        {% endfor %}
    </ul>
    <p>
        <input
            value="Add a new item"
            type="button"
            onclick="location.href='{% url "item-add" %}'"
        />
    </p>
 
</div>

<a href="{% url 'logout' %}">Log Out</a>
{% endblock %}